h1 {
    color:blue;
    font-size: 50px;
    }
/* ID Selector*/
#title {
    color: red;
    font-size: 80px;
    text-align: center;
}
/* Class selector*/
.container{
    background-color:rgb(45, 133, 211);
    color: green;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 5px;
    width: 50%;
        }

#title2 {
    color: yellow
}